<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
<canvas id="myChart"></canvas>



{% comment %} <script>

    var ctx = document.getElementById('myChart');
    var data = {
  labels: [
  "Positive reputation",
  "Adopting collaborative solutions",
  "Organizational learning",
  "Partnership building",
  "Visibility",
  "Collaboration Opportunities",
  "Learning & sharing",
  "Brokering Relations",
  "Credibility",
  "Collaborative output",
  "Resource mobilization",
  "Network access"
],
  datasets: [
    {
      data: [25, 25, 25, 25, null, null, null, null],
      backgroundColor: ['#ff6384', '#ff6384', '#ff6384', '#ff6384', null, 'tomato', 'pink', 'gray'],
      filter: ["kekeke", "kakakakka", "kikikiki", "pipaaa", null, null, null, null],
    },
    {
      data: [null, null, 25, 25, 25, 25],
      backgroundColor: [null, null, 'gray', 'gray', 'gray', 'gray'],
      filter: [null, null, 5, 6, 7, 8],
    },
    {
      data: [null, null, null, null, 25, 25, 25, 25],
      backgroundColor: [null, null, null, null, 'pink', 'pink', 'pink', 'pink'],
      filter: [null, null, null, null, 9, 10, 11, 12],
    },
  ],
};

var options = {
    onClick: function(e, clickData) {
        window.open("localhost:8000")
    },
    responsive: true,
    plugins: {

    labels: {
        render: 'label',
        arc: true,
        position: 'inside'
      },

    legend: {
        display: false
    },
  },
};

var myDoughnutChart = new Chart(ctx, {
  type: 'doughnut',
  data,
  options,
});
    

</script>  {% endcomment %}


<script>

  var ctx = document.getElementById('myChart');
  var data = {
labels: [

"Collaborative",
"Organizational",
"Individual",


"Co-creating solutions",
"Facilitating activities",
"Brokering partnerships",
"Establishing legitimacy",

"Collaborative output",
"Adopting solutions",
"Collab Opportunities",
"Resource mobilization",
"Learning & sharing",
"Organizational learning",
"Network access",
"Partnership building",
"Credibility",
"Positive reputation",
"Visibility",

],
datasets: [
  {
    data: [null,1],
    backgroundColor: ['green',],
    
  },
  {
    data: [null,null,null, null, null, null,null, 8.33333333, 8.33333333, 8.33333333, 8.33333333, 8.33333333, 8.33333333, 8.33333333, 8.33333333, 8.33333333, 12, 12],
    backgroundColor: ['yellow',],
  },
  {
    data: [null,null,1],
    backgroundColor: ['green',],
  },
  {
    data: [null,null,null, 25, 25, 25, 25, null, null, null,null],
    backgroundColor: ['#ff6384', '#ff6384', '#ff6384', '#ff6384',],
  },
  {
    data: [1],
    backgroundColor: ['green',],
  },
  
  
],
};

var options = {

  onClick: function(event, clickedData) {
    if (clickedData.length > 0) {
      var dataIndex = clickedData[0].index;
      var labelName = data.labels[dataIndex];
      var joinedLabel = labelName.replace(/[^a-zA-Z]/g, '').split(' ').join('');
      window.open("localhost:8000/" + joinedLabel);
    }
  },
  responsive: true,
  plugins: {

  labels: {
      render: 'label',
      arc: true,
      position: 'inside'
    },

  legend: {
      display: false
  },
},
};

var myDoughnutChart = new Chart(ctx, {
type: 'doughnut',
data,
options,
});


  

</script> 







