{% extends "organization/base.html" %}
{% load static %}

{%block css_files%}
<link rel="stylesheet" href="{% static 'organization/landing.css' %}" type="text/css" media="screen">
{% endblock %}

{% block content %}
<div class = 'page-grid'>
  <div>{% comment %} empty div for sidebar {% endcomment %}</div>
  <div>
  <h2>{{ survey.survey_name }}</h2>
  <p>{{ survey.description }}</p>

  <form method="POST" action="{% url 'survey:survey_submit' survey.survey_name_slug survey.pk %}">
    {% csrf_token %}
    <h3>Questions:</h3>
    {% for question in questions %}
      <div>
        <label for="answer-{{ question.pk }}">{{ question.question_text }}</label>
        <input id="answer-{{ question.pk }}" name="answer-{{ question.pk }}" type="text">
      </div>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
{% endblock %}



