{% load static %}

{%block css_files%}
<link rel="stylesheet" href="{% static 'Survey/survey.css' %}" type="text/css" media="screen">
{% endblock %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Full survey</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>{{survey}}</h2>
        <div>
            {% for question in questions %} 
            <div style = 'margin-top:15px'>
                <h4>{{question.question_text}}</h4>
                {% if question.question_type == 'checkbox' or question.question_type == 'radio' %}
                    {% for option in question.options  %}
                    <div>
                        <label>{{ option }}</label>
                        <input id="answer-{{ question.pk }}" name="answer-{{ question.pk }}" type="{{question.question_type}}">
                    </div>
                    {% endfor %}
                {% else %}
                <div class="range" style="--step:1; --min:1; --max:10">
                    <input type="range" min="1" max="10" step="1" value="5">
                  </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>