.person-profile,
.person-profile * {
  box-sizing: border-box;
}
.person-profile {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  background: #ffffff;
  width: 1200px;
  height: 1500px;
  position: relative;
  box-shadow: var(
    --card-shadowlight-box-shadow,
    3px 9px 18px -10px rgba(0, 0, 0, 0.5)
  );
  overflow: hidden;
}
.collaboration-fields {
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 560px;
  height: 72px;
  position: absolute;
  left: 620px;
  top: 600px;
}
.collaboration-name {
  color: var(--text-primary, #3e3e3e);
  text-align: left;
  font: var(--bold, 700 24px "Work Sans", sans-serif);
  position: relative;
}
.collaboration-fields2 {
  color: var(--text-primary, #3e3e3e);
  text-align: left;
  font: var(--body, 400 24px/36px "Roboto", sans-serif);
  position: relative;
  width: 771px;
}

.collaborator-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 2fr);
  gap: 40px 10px; /* increased row gap to 30px, column gap remains 10px */
  justify-content: space-evenly;
  position: relative;
  top: 800px;
  width: 100%;
}

.UserAvatar, .MainAvatar {
  width: 300px;
  height: 200px;
  margin-left: 130px;
  margin-top: 20px;
  z-index: 2;
}

.UserAvatar {
  border-radius: 35%;
  box-shadow: var(
    --card-shadowlight-box-shadow,
    3px 9px 18px -10px rgba(0, 0, 0, 0.5)
  );
}

.other-collaborator-member {
  color: var(--text-default, #3e3e3e);
  text-align: center;
  font: var(--bold, 700 16px "Work Sans", sans-serif);
}

.goals {
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 560px;
  height: 177px;
  position: absolute;
  left: 620px;
  top: 300px;
}
.organization-name {
  color: var(--text-primary, #3e3e3e);
  text-align: left;
  font: var(--bold, 700 24px "Work Sans", sans-serif);
  position: relative;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.list-of-fields-of-organization {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.oval {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.org-fields {
  color: var(--text-primary, #3e3e3e);
  text-align: left;
  font: var(--body, 400 24px/36px "Roboto", sans-serif);
  position: relative;
  width: 733px;
}
.personal-information {
  width: 560px;
  height: 920px;
  position: absolute;
  left: 20px;
  top: 20px;
  overflow: hidden;
}
.personal-information-background {
  background: #f7f7f7;
  width: 560px;
  height: 500px;
  position: absolute;
  left: 0px;
  top: 250px;
  z-index: 0;
}

.organization-type {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 116px;
  position: absolute;
  left: 50px;
  top: 600px;
}
.type {
  color: var(--text-subtle, #8c8ca1);
  text-align: left;
  font: var(--subheading, 500 24px "Work Sans", sans-serif);
  position: relative;
}
.organization-type2 {
  color: var(--text-primary, #3e3e3e);
  text-align: left;
  font: var(--heading, 700 30px/36px "Work Sans", sans-serif);
  position: relative;
}
.organization {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 50px;
  top: 500px;
}
.organization2 {
  color: var(--text-subtle, #8c8ca1);
  text-align: left;
  font: var(--subheading, 500 24px "Work Sans", sans-serif);
  position: relative;
}
.organization-title {
  color: var(--text-primary, #3e3e3e);
  text-align: left;
  font: var(--heading, 700 30px/36px "Work Sans", sans-serif);
  position: relative;
}
.organization-role {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 50px;
  top: 400px;
}
.role {
  color: var(--text-subtle, #8c8ca1);
  text-align: left;
  font: var(--subheading, 500 24px "Work Sans", sans-serif);
  position: relative;
}
.role-field {
  color: var(--text-primary, #3e3e3e);
  text-align: left;
  font: var(--heading, 700 30px/36px "Work Sans", sans-serif);
  position: relative;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 71px;
  position: absolute;
  left: 50px;
  top: 300px;
}
.name2 {
  color: var(--text-subtle, #8c8ca1);
  text-align: left;
  font: var(--subheading, 500 24px "Work Sans", sans-serif);
  position: relative;
}
.name-field {
  color: var(--text-primary, #3e3e3e);
  text-align: left;
  font: var(--heading, 700 30px/36px "Work Sans", sans-serif);
  position: relative;
}

.buttons {
  position: absolute;
  inset: 0;
}
.button-4 {
  background: #d9d9d9;
  width: 126px;
  height: 68px;
  position: absolute;
  left: 950px;
  top: 150px;
  box-shadow: var(
    --card-shadowlight-box-shadow,
    3px 9px 18px -10px rgba(0, 0, 0, 0.5)
  );
}
.button-3 {
  background: #d9d9d9;
  width: 126px;
  height: 68px;
  position: absolute;
  left: 750px;
  top: 150px;
  box-shadow: var(
    --card-shadowlight-box-shadow,
    3px 9px 18px -10px rgba(0, 0, 0, 0.5)
  );
}
.button-2 {
  background: #d9d9d9;
  width: 126px;
  height: 68px;
  position: absolute;
  left: 950px;
  top: 60px;
  box-shadow: var(
    --card-shadowlight-box-shadow,
    3px 9px 18px -10px rgba(0, 0, 0, 0.5)
  );
}
.button-1 {
  background: #d9d9d9;
  width: 126px;
  height: 68px;
  position: absolute;
  left: 750px;
  top: 60px;
  box-shadow: var(
    --card-shadowlight-box-shadow,
    3px 9px 18px -10px rgba(0, 0, 0, 0.5)
  );
}

.button-18 {
  text-decoration: none;
  align-items: center;
  background-color: #1282f1;
  border: 0;
  border-radius: 95px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: right;
}
.button-18:hover,
.button-18:focus {
  background-color: #16437e;
  color: #ffffff;
}
.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}
.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
.buttons-home-left {
  padding-top: 20px;
}
.buttons-home-left a {
  text-decoration: none;
}
.plain-button {
  background-color: white;
  color: rgb(0, 0, 0);
  border-style: solid;
  border-color: black;
}

.noStyle {
  /* Reset/Override styles */
  all: unset;
  /* Define your positioning and width */
  position: absolute;
  top: 600px;
  left: 200px;
  width: 1000px;
  /* You might also need to define left or right property to position your element horizontally */
}