.flip-modal {
}

.flip-modal .modal--active {
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
    opacity: 1;
}

.flip-modal .modal-content-button:hover {
    background-color: rgba(0,0,0,.1);
}

.flip-modal .modal-content-button {
    color: #fff;
    background-color: rgba(0,0,0,.2);
    border: 0;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color .2s ease;
    margin-top: auto;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 14px;
}

.flip-modal .modal {
    overflow: hidden;
    display: flex;
    min-height: 200px;
    color: #fff;
    background-color: #3274e8;
    width: 400px;
    transform-origin: 50% 100%;
    position: relative;
    flex-direction: column;
    border-radius: 4px;
    transition: all .6s cubic-bezier(0.34, 1.6, 0.64, 1);
    max-width: calc(100% - 30px);
    z-index: 999;
}

.flip-modal .modal-content p {
    margin: 0;
}

.flip-modal .modal:not(.modal--active) {
    opacity: 0;
    transform: translateZ(100px) translateX(-100px) rotateY(90deg);
}

.flip-modal .push-button-3d:active {
    box-shadow: 0 1px #2659ac;
    transform: translateY(3px);
}

.flip-modal .modal-background:not(.modal-background--active) {
    opacity: 0;
    visibility: hidden;
}

.flip-modal .push-button-3d {
    box-shadow: 0 4px #2659ac;
    color: rgba(255,255,255,.8);
    background-color: #3274e8;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .2s ease;
    font-weight: 900;
    cursor: pointer;
    letter-spacing: 1px;
}

.flip-modal button:focus, .flip-modal button {
    outline: none;
    border: none;
}

.flip-modal .modal-background--active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(3px);
}

.flip-modal .modal-content {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flip-modal .modal-background {
    display: flex;
    width: 100vw;
    left: 0;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    top: 0;
    transition: all .4s ease;
    align-items: center;
    perspective: 1300px;
    justify-content: center;
    z-index: 999;
}

.flip-modal .modal-header {
    margin: 0;
    background-color: rgba(0,0,0,.3);
    padding: 10px;
}