{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container" style="max-width:600px">
    <div class="py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Edit Profile</h1>
    </div>
    <div class="py-5">
      <div class="row">
        <div class="col-12">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="profile-edit-btn border-solid border-1 border-gray-500 bg-white rounded-full px-4 py-1">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
