{% extends 'djf_surveys/admins/form.html' %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#id_level").change(function () {
        var url = $("#QuestionForm").attr("data-dimensions-url");
        var levelId = $(this).val();
    
        $.ajax({
            url: url,
            data: {
                'level': levelId
            },
            success: function (data) {
                $("#id_dimension").html(data);
            }
        });
    });
    
    $("#id_dimension").change(function () {
        var url = $("#QuestionForm").attr("data-subdimensions-url");
        var dimensionId = $(this).val();
    
        $.ajax({
            url: url,
            data: {
                'dimension': dimensionId
            },
            success: function (data) {
                $("#id_subdimension").html(data);
            }
        });
    });   
</script>
{% endblock %}
