{% extends 'djf_surveys/admins/master.html' %}
{% load djf_survey_tags static i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'djf_surveys/css/rating.css' %}"/>
{% endblock %}

{% comment %} {% block content %}
<div class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-md border border-gray-200 bg-white">
    <form method="post" id="QuestionForm" data-dimensions-url="{% url 'djf_surveys:ajax_load_dimensions' %}" data-subdimensions-url="{% url 'djf_surveys:ajax_load_subdimensions' %}" novalidate>
        {% csrf_token %}
        {% for field in form  %}
            <p>{{ field }}</p>
        {% endfor %}

        <button type="submit" class="block w-full mt-5 px-5 py-3 text-sm font-medium text-white bg-blue-500 rounded-lg">
            {% trans "Submit" %}
        </button>
    </form>
</div>
{% endblock content %} {% endcomment %}




{% block content %}
<div class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-md border border-gray-200 bg-white">
    <form method="post" id="QuestionForm" data-dimensions-url="{% url 'djf_surveys:ajax_load_dimensions' %}" data-subdimensions-url="{% url 'djf_surveys:ajax_load_subdimensions' %}" novalidate>
        {% csrf_token %}
        {% for field in form  %}
            {{field}}
        {% endfor %}
        <button type="submit" class="block w-full mt-5 px-5 py-3 text-sm font-medium text-white bg-blue-500 rounded-lg">
            {% trans "Submit" %}
        </button>
    </form>
</div>
{% endblock content %}



{% comment %} {% block content %}
<div class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-md border border-gray-200 bg-white">
    <form method="post" id="QuestionForm" data-dimensions-url="{% url 'djf_surveys:ajax_load_dimensions' %}" data-subdimensions-url="{% url 'djf_surveys:ajax_load_subdimensions' %}" novalidate>
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'questions' %}
                <label for="{{ field.id_for_label }}">Selected Questions:</label>
                {% for question in field %}
                    <div>
                        {{ question.choice_label }}
                        <p>Level: {{ question.value.level }}</p>
                        <p>Dimension: {{ question.value.dimension }}</p>
                    </div>
                {% endfor %}
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}

        <button type="submit" class="block w-full mt-5 px-5 py-3 text-sm font-medium text-white bg-blue-500 rounded-lg">
            {% trans "Submit" %}
        </button>
    </form>
</div>
{% endblock content %} {% endcomment %}