{% extends get_master_template %}
{% load djf_survey_tags i18n static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'djf_surveys/te-starter/css/tw-elements.min.css' %}">
    <link rel="stylesheet" href="{% static 'djf_surveys/css/rating.css' %}"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
{% endblock %}

{% block content %}
    <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto">
            <h1 class="text-2xl font-bold text-center text-blue-500 sm:text-3xl">{{ title_page }}</h1>
            <p class="max-w-md mx-auto mt-4 text-center text-gray-500">{{ sub_title_page }}</p>
            <div x-data="{ openTab: 1 }" class="bg-white p-3 shadow-sm rounded-sm">
                <!-- Tab Buttons -->
                <div class="items-center justify-center mb-4 flex">
                    <button :class="{ 'border-b-2 border-blue-500': openTab === 1 }" @click="openTab = 1" class="px-4 py-2 mr-3 font-semibold text-gray-900 focus:outline-none">Organizational</button>
                    <button :class="{ 'border-b-2 border-blue-500': openTab === 2 }" @click="openTab = 2" class="px-4 py-2 font-semibold text-gray-900 focus:outline-none">Individual</button>
                    <button :class="{ 'border-b-2 border-blue-500': openTab === 3 }" @click="openTab = 3" class="px-4 py-2 font-semibold text-gray-900 focus:outline-none">Collaborative</button>
                </div>
           
            <form method="post">
                {% csrf_token %}
                        <!-- Organizational Tab Content -->
                        <div x-show="openTab === 1">
                            {% for question in questions  %}
                            {% for field in form %}
                            {% if field.label == question.label and question.level.label == 'Organizational Level' %}
            
                            <div class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-md border border-gray-200 bg-white">
                                <label for="email" class="text-base font-medium">{{ field.label }}</label>
                                <div class="mt-1 scrollable-box">
                                    {% if field.name == 'org_profiles' %}
                                        <div style="width: 200px; height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
                                            {{ field }}
                                        </div>
                                    {% elif field.field.widget.input_type == 'radio' or field.field.widget.input_type == 'checkbox' %}
                                        {{ field }}
                                    {% else %}
                                        {{ field|addclass:'w-full p-4 pr-12 text-sm border-gray-500 rounded-lg shadow-sm' }}
                                    {% endif %}
                                </div>
                                <p class="text-xs text-gray-400">{{ field.help_text }}</p>
                                <span class="text-xs text-red-400">{{ field.errors }}</span>
                            </div>
            
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                            <a @click="openTab = 2" class="text-center block w-full mt-5 px-5 py-3 text-sm font-medium text-white bg-blue-500 rounded-lg">
                                {% trans "To Individual" %}
                            </a>
                        </div>
                
                        <!-- Individual Tab Content -->
                        <div x-show="openTab === 2">
                            {% for question in questions  %}
                            {% for field in form %}
                            {% if field.label == question.label and question.level.label == 'Individual Level' %}
            
                            <div class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-md border border-gray-200 bg-white">
                                <label for="email" class="text-base font-medium">{{ field.label }}</label>
                                <div class="mt-1 scrollable-box">
                                {% if field.name == 'org_profiles' %}
                                        <div style="width: 200px; height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
                                            {{ field }}
                                        </div>
                                    {% elif field.field.widget.input_type == 'radio' or field.field.widget.input_type == 'checkbox' %}
                                        {{ field }}
                                    {% else %}
                                        {{ field|addclass:'w-full p-4 pr-12 text-sm border-gray-500 rounded-lg shadow-sm' }}
                                {% endif %}
                                </div>
                                <p class="text-xs text-gray-400">{{ field.help_text }}</p>
                                <span class="text-xs text-red-400">{{ field.errors }}</span>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                            <a @click="openTab = 3" class=" text-center block w-full mt-5 px-5 py-3 text-sm font-medium text-white bg-blue-500 rounded-lg">
                                {% trans "To Network" %}
                            </a>
                        </div>
            
                        <!-- Collaborative Tab Content -->
                        <div x-show="openTab === 3">
                            {% for question in questions  %}
                            {% for field in form %}
                            {% if field.label == question.label and question.level.label == 'Network Level' %}
            
                            <div class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-md border border-gray-200 bg-white">
                                <label for="email" class="text-base font-medium">{{ field.label }}</label>
                                <div class="mt-1 scrollable-box">
                                    {% if field.name == 'org_profiles' %}
                                        <div style="width: 200px; height: 150px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
                                            {{ field }}
                                        </div>
                                    {% elif field.field.widget.input_type == 'radio' or field.field.widget.input_type == 'checkbox' %}
                                        {{ field }}
                                    {% else %}
                                        {{ field|addclass:'w-full p-4 pr-12 text-sm border-gray-500 rounded-lg shadow-sm' }}
                                    {% endif %}
                                </div>
                                <p class="text-xs text-gray-400">{{ field.help_text }}</p>
                                <span class="text-xs text-red-400">{{ field.errors }}</span>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                            <div class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-md border border-gray-200 bg-white">
                                <button type="submit" class="block w-full mt-5 px-5 py-3 text-sm font-medium text-white bg-blue-500 rounded-lg">
                                    {% trans "Submit" %}
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- tab end -->
                </div>
               
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'djf_surveys/te-starter/js/tw-elements.umd.min.js' %}"></script>
{% endblock %}




