{% extends get_master_template %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'djf_surveys/te-starter/css/tw-elements.min.css' %}">
{% endblock %}


<header>
        <div class='sidenav' style="position: fixed; top: 0; bottom: 0;">
          <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 200px; height: 100%; background-color: white;">
            <a href="{% url 'organization:index'%}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
              <svg class="bi me-2" width="20" height="32"><use href=""></use></svg>
              <span class="fs-4" style='font-weight:bold;'>CONESU</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="{% url 'organization:profile'%}" class="nav-link link-dark" aria-current="page">
                  <svg class="bi me-2" width="10" height="10">
                    <img src="{% static 'images/sb_user.svg'%}" />
                    <use xlink:href="#profile"></use>
                  </svg>
                  Profile
                </a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'djf_surveys:index' %}" class="nav-link link-dark">
                  <svg class="bi me-2" width="10" height="10">
                    <use xlink:href="#survey"></use>
                    <img src="{% static 'images/sb_survey.svg'%}" />
                  </svg>
                  Survey
                </a>
              </li>
              <li>
                <a href="/orgs/{{user.organization_id}}" class="nav-link link-dark">
                  <svg class="bi me-2" width="10" height="10">
                    <use xlink:href="#grid"></use>
                    <img src="{% static 'images/sb_company.svg'%}" />
                  </svg>
                  Company
                </a>
              </li>
            </ul>
            <hr>
            <div class="dropdown">
              <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{user.avatar.url}}" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{f_name}}</strong>
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href={% url 'users:edit_profile'%}>Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href='http://127.0.0.1:5500/landing_page.html'>Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
    </header>



<style type="text/css">
    .sidenav {
      height:100%;
      width:180px;
      position: fixed;
      z-index:1;
      top:0;
      left:0;
      background-color:#111;
      overflow-x: :hidden;
      box-shadow: 0.5px 0 5px rgba(0, 0, 0, 0.5);
    }
    .page-grid {
      display: grid;
      grid-template-columns: 210px auto; /* Sidebar width and body content width */
      height: 100vh; /* Set container height to full viewport height */
    }
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    
  </style>

{% block content %}
<div class = 'page-grid'>
    <div>{% comment %} empty div for sidebar {% endcomment %}</div>
    <div class="container px-5 py-5">
        {% include 'djf_surveys/components/section_welcome.html' %}

        {% include 'djf_surveys/components/search_form.html' %}
        {% if object_list %}
            <div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-4">
                {% for survey in page_obj %}
                    {% include 'djf_surveys/components/card_list_survey.html' %}
                {% endfor %}
            </div>
            <div class="py-10">
                {% include 'djf_surveys/components/pagination.html' %}
            </div>
        {% else %}
            {% include 'djf_surveys/components/empty_state.html' %}
        {% endif %}
    </div>

    {% include 'djf_surveys/components/modal_delete.html' %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'djf_surveys/te-starter/js/tw-elements.umd.min.js' %}"></script>
    {% include 'djf_surveys/components/modal_delete_js.html' %}
{% endblock %}