{% extends 'organization/base.html' %}
{% load bootstrap5 %}
{%load static%}
{% block page_title %}<title>Wheel dash</title>{% endblock page_title %}

{%block css_files%}
{% comment %} <link rel="stylesheet" href="{% static 'organization/keen-dashboards.css' %}" type="text/css" media="screen"> {% endcomment %}
<link rel="stylesheet" href="{% static 'organization/landing.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'djf_surveys/te-starter/css/tw-elements.min.css' %}">
{% endblock %}


<style type = "text/css">
  .chart-wrapper {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 13px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
  }
  h1 {}
</style>



{% block content %}

<body>  
  <div class = 'page-grid'>
    <div>{% comment %} empty div for sidebar {% endcomment %}</div>
    <div class="grid grid-rows-3 grid-cols-6 gap-4">
      <div class='chart-wrapper container row-span-3 col-span-3'>
        <div class =""><canvas class id="polar"/></div>
     </div>
        <div class='col-span-3'>
          <div class="grid grid-cols-3 gap-4 grid-flow-col auto-cols-max ">
          <div class='chart-wrapper container'>
          <div><canvas class="" id="donutChart"/></div>  
          </div>
          <div class='chart-wrapper container'>
            <div class =""><canvas class="" id="donut"/></div>
          </div>
          <div class='chart-wrapper container' style ="grid-auto-cols: 100px;">
            <h1>0:04:32</h1>
            Av. time min.
          </div>
       </div>
      </div> 
          <table class="chart-wrapper container row-span-3 col-span-3 w-full border-collapse bg-white text-left text-sm text-gray-500">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Name</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Response</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Role</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Team</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 border-t border-gray-100">
              <tr class="hover:bg-gray-50">
                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                  <div class="relative h-10 w-10">
                    <img
                      class="h-full w-full rounded-full object-cover object-center"
                      src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                      alt=""
                    />
                    <span class="absolute right-0 bottom-0 h-2 w-2 rounded-full bg-green-400 ring ring-white"></span>
                  </div>
                  <div class="text-sm">
                    <div class="font-medium text-gray-700">Matvei Mochalov</div>
                    <div class="text-gray-400">mochalov.matvei@gmail.com</div>
                  </div>
                </th>
                <td class="px-6 py-4">
                  <span
                    class="inline-flex items-center gap-1 rounded-full bg-green-50 px-2 py-1 text-xs font-semibold text-green-600"
                  >
                    <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span>
                    Active
                  </span>
                </td>
                <td class="px-6 py-4">Full stack</td>
                <td class="px-6 py-4">
                  <div class="flex gap-2">
                    <span
                      class="inline-flex items-center gap-1 rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600"
                    >
                      Design
                    </span>
                    <span
                      class="inline-flex items-center gap-1 rounded-full bg-violet-50 px-2 py-1 text-xs font-semibold text-violet-600"
                    >
                      Develop
                    </span>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex justify-end gap-4">
                    <a x-data="{ tooltip: 'Delete' }" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                        x-tooltip="tooltip"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </a>
                    <a x-data="{ tooltip: 'Edite' }" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                        x-tooltip="tooltip"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        />
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
              <tr class="hover:bg-gray-50">
                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                  <div class="relative h-10 w-10">
                    <img
                      class="h-full w-full rounded-full object-cover object-center"
                      src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                      alt=""
                    />
                    <span class="absolute right-0 bottom-0 h-2 w-2 rounded-full bg-green-400 ring ring-white"></span>
                  </div>
                  <div class="text-sm">
                    <div class="font-medium text-gray-700">Thomas van Oost</div>
                    <div class="text-gray-400">TvO@hva.nl</div>
                  </div>
                </th>
                <td class="px-6 py-4">
                  <span
                    class="inline-flex items-center gap-1 rounded-full bg-green-50 px-2 py-1 text-xs font-semibold text-green-600"
                  >
                    <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span>
                    Active
                  </span>
                </td>
                <td class="px-6 py-4">Back end developer</td>
                <td class="px-6 py-4">
                  <div class="flex gap-2">
                    <span
                      class="inline-flex items-center gap-1 rounded-full bg-violet-50 px-2 py-1 text-xs font-semibold text-violet-600"
                    >
                      Develop
                    </span>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex justify-end gap-4">
                    <a x-data="{ tooltip: 'Delete' }" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                        x-tooltip="tooltip"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </a>
                    <a x-data="{ tooltip: 'Edite' }" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                        x-tooltip="tooltip"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        />
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
              <tr class="hover:bg-gray-50">
                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                  <div class="relative h-10 w-10">
                    <img
                      class="h-full w-full rounded-full object-cover object-center"
                      src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                      alt=""
                    />
                    <span class="absolute right-0 bottom-0 h-2 w-2 rounded-full bg-green-400 ring ring-white"></span>
                  </div>
                  <div class="text-sm">
                    <div class="font-medium text-gray-700">Steven Jobs</div>
                    <div class="text-gray-400">jobs@sailboatui.com</div>
                  </div>
                </th>
                <td class="px-6 py-4">
                  <span
                    class="inline-flex items-center gap-1 rounded-full bg-green-50 px-2 py-1 text-xs font-semibold text-green-600"
                  >
                    <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span>
                    Active
                  </span>
                </td>
                <td class="px-6 py-4">Test</td>
                <td class="px-6 py-4">
                  <div class="flex gap-2">
                    <span
                      class="inline-flex items-center gap-1 rounded-full bg-indigo-50 px-2 py-1 text-xs font-semibold text-indigo-600"
                    >
                      Product
                    </span>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex justify-end gap-4">
                    <a x-data="{ tooltip: 'Delete' }" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                        x-tooltip="tooltip"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </a>
                    <a x-data="{ tooltip: 'Edite' }" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                        x-tooltip="tooltip"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        />
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
              <tr class="hover:bg-gray-50">
                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                  <div class="relative h-10 w-10">
                    <img
                      class="h-full w-full rounded-full object-cover object-center"
                      src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                      alt=""
                    />
                    <span class="absolute right-0 bottom-0 h-2 w-2 rounded-full bg-green-400 ring ring-white"></span>
                  </div>
                  <div class="text-sm">
                    <div class="font-medium text-gray-700">Steven Jobs</div>
                    <div class="text-gray-400">jobs@sailboatui.com</div>
                  </div>
                </th>
                <td class="px-6 py-4">
                  <span
                    class="inline-flex items-center gap-1 rounded-full bg-red-50 px-2 py-1 text-xs font-semibold text-red-600"
                  >
                    <span class="h-1.5 w-1.5 rounded-full bg-red-600"></span>
                    None
                  </span>
                </td>
                <td class="px-6 py-4">Product Designer</td>
                <td class="px-6 py-4">
                  <div class="flex gap-2">
                    <span
                      class="inline-flex items-center gap-1 rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600"
                    >
                      Design
                    </span>
                    <span
                      class="inline-flex items-center gap-1 rounded-full bg-indigo-50 px-2 py-1 text-xs font-semibold text-indigo-600"
                    >
                      Product
                    </span>
                    <span
                      class="inline-flex items-center gap-1 rounded-full bg-violet-50 px-2 py-1 text-xs font-semibold text-violet-600"
                    >
                      Develop
                    </span>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex justify-end gap-4">
                    <a x-data="{ tooltip: 'Delete' }" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                        x-tooltip="tooltip"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </a>
                    <a x-data="{ tooltip: 'Edite' }" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                        x-tooltip="tooltip"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        />
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
              <tr class="hover:bg-gray-50">
                <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
                  <div class="relative h-10 w-10">
                    <img
                      class="h-full w-full rounded-full object-cover object-center"
                      src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                      alt=""
                    />
                    <span class="absolute right-0 bottom-0 h-2 w-2 rounded-full bg-green-400 ring ring-white"></span>
                  </div>
                  <div class="text-sm">
                    <div class="font-medium text-gray-700">Steven Jobs</div>
                    <div class="text-gray-400">jobs@sailboatui.com</div>
                  </div>
                </th>
                <td class="px-6 py-4">
                  <span
                    class="inline-flex items-center gap-1 rounded-full bg-green-50 px-2 py-1 text-xs font-semibold text-green-600"
                  >
                    <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span>
                    Active
                  </span>
                </td>
                <td class="px-6 py-4">Product Designer</td>
                <td class="px-6 py-4">
                  <div class="flex gap-2">
                    <span
                      class="inline-flex items-center gap-1 rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600"
                    >
                      Design
                    </span>
                    <span
                      class="inline-flex items-center gap-1 rounded-full bg-indigo-50 px-2 py-1 text-xs font-semibold text-indigo-600"
                    >
                      Product
                    </span>
                    <span
                      class="inline-flex items-center gap-1 rounded-full bg-violet-50 px-2 py-1 text-xs font-semibold text-violet-600"
                    >
                      Develop
                    </span>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex justify-end gap-4">
                    <a x-data="{ tooltip: 'Delete' }" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                        x-tooltip="tooltip"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                        />
                      </svg>
                    </a>
                    <a x-data="{ tooltip: 'Edite' }" href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                        x-tooltip="tooltip"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        />
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

      
  {% block scripts %}
  <script src="{% static 'djf_surveys/css/tailwindcss-3.3.1.js' %}"></script>
<script src="{% static 'djf_surveys/css/tailwindcss-plugin-3.3.1.js' %}"></script>
<script src="{% static 'djf_surveys/te-starter/js/tw-elements.umd.min.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    
    var ctx = document.getElementById('polar');
var myChart = new Chart(ctx, {
  type: 'polarArea',
  data: {
    labels: ['Co-creating solutions', 'Establishing legitimacy', 'Brokering relations', 'Facilitating activities'],
    datasets: [
      {
        label: 'Network',
        data: [
          { id: 'COLL-OUTPUT', value: { number: 40, link: 'localhost:8000/surveys/dashboard/summary/survey/main/COLL-OUTPUT' } },
          { id: 'RES-MOBIL', value: { number: 40, link: 'localhost:8000/surveys/dashboard/summary/survey/main/RES-MOBIL' } },
          { id: 'NET-ACC', value: { number: 40, link: 'localhost:8000/surveys/dashboard/summary/survey/main/NET-ACC' } },
          { id: 'POS-REP', value: { number: 40, link: 'localhost:8000/surveys/dashboard/summary/survey/main/' } },
        ],
        
        parsing: {
          key: 'value.number'
        },

        backgroundColor: [
        "#FFD041",
    
        ],
        borderWidth: 0,
      },
      {
        label: 'Network Text',
        data: [
          { id: 'COLL-OUTPUT', value: { number: 60, link: 'localhost:8000/surveys/dashboard/summary/survey/main/COLL-OUTPUT' } },
          { id: 'RES-MOBIL', value: { number: 60, link: 'localhost:8000/surveys/dashboard/summary/survey/main/RES-MOBIL' } },
          { id: 'NET-ACC', value: { number: 60, link: 'localhost:8000/surveys/dashboard/summary/survey/main/NET-ACC' } },
          { id: 'POS-REP', value: { number: 60, link: 'localhost:8000/surveys/dashboard/summary/survey/main/' } },
        ],
        
        parsing: {
          key: 'value.number'
        },

        backgroundColor: [
        "#F4D8A5",
    
        ],
        borderWidth: 0,
      },
      {
        label: 'Organizational',
        data: [
          { id: 'ACS', value: { number: 80, link: 'localhost:8000/surveys/dashboard/summary/survey/main/ACS' } },
          { id: 'ORG-LEARN', value: { number: 80, link: 'localhost:8000/surveys/dashboard/summary/survey/main/ORG-LEARN' } },
          { id: 'BUILD-PART', value: { number: 80, link: 'localhost:8000/surveys/dashboard/summary/survey/main/BUILD-PART' } },
          { id: 'ACS', value: { number: 80, link: 'localhost:8000/surveys/dashboard/summary/survey/main/ACS' } },
        ],
        
        parsing: {
          key: 'value.number'
        },

        backgroundColor: [
        "#FFFFFF",
        ],
        borderWidth: 5,
        borderColor: 'rgba(255, 99, 132, 0.9)', // Red,
      },
      {
        label: 'Individual',
        data: [
          { id: 'COLL-OP', value: { number: 120, link: 'localhost:8000/surveys/dashboard/summary/survey/main/COLL-OP' } },
          { id: 'SHARE-LEARN', value: { number: 120, link: 'localhost:8000/surveys/dashboard/summary/survey/main/SHARE-LEARN' } },
          { id: 'FEI', value: { number: 120, link: 'localhost:8000/surveys/dashboard/summary/survey/main/FEI'} },
          { id: 'VISIB', value: { number: 120, link: 'localhost:8000/surveys/dashboard/summary/survey/main/VISIB'} },
          ],

          parsing: {
            key: 'value.number'
          },

          backgroundColor: [
          "#FFFFFF",
            
          ],
          borderWidth: 5,
          borderColor: 'rgba(255, 99, 132, 0.9)', // Red,
        },
        {
          label: 'Levels',
          data: [
            { id: 'COLL-OUTPUT', value: { number: 140, link: 'localhost:8000/surveys/dashboard/summary/survey/main/COLL-OUTPUT' } },
            { id: 'RES-MOBIL', value: { number: 140, link: 'localhost:8000/surveys/dashboard/summary/survey/main/RES-MOBIL' } },
            { id: 'NET-ACC', value: { number: 140, link: 'localhost:8000/surveys/dashboard/summary/survey/main/NET-ACC' } },
            { id: 'POS-REP', value: { number: 140, link: 'localhost:8000/surveys/dashboard/summary/survey/main/' } },
          ],
          
          parsing: {
            key: 'value.number'
          },
  
          backgroundColor: [
          "#F4D8A5",
      
          ],
          borderWidth: 0,
        },]},
        options: {
          scale: {
            display: false
        },
          responsive: true,
          scales: {
            r: {
              pointLabels: {
                display: false,
                centerPointLabels: true,
                arc: true,
                font: {
                  size: 24
                }
              }
            },
          },
           onClick: function(e, clickData) {
            var activePoints = myChart.getElementsAtEvent(e);
           var selectedIndex = activePoints[0]._index;
           console.log(this.data.datasets[0].data[selectedIndex]);

            //window.open('http://localhost:8000/surveys/dashboard/summary/survey/main/')
          },
        plugins: {
          legend: {
            display: true,
          },
          labels: {
            render: 'label',
            arc: true,
            fontColor: '#000',
            position: 'inside',
          },
        }
      },
    });

  //  function chartOpen(click) {
     // const points = myChart.getElementsAtEventForMode(click, 'nearest', { intersect: true }, true);
     // console.log(points);
   // }
    
   // ctx.onclick = chartOpen;
         
    </script>

    <script>
 
      var ctx = document.getElementById('donut');
      var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
          labels: ['Time', 'Statisfaction', 'Projects', 'Surveys', 'Responses', 'Collaborators'],
          datasets: [{
            label: 'Blue',
            data: [11, 8.0, 17, 10, 23, 15],
            fill: true,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 0.2)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
          },{
            label: 'Red',
            data: [15, 6.0, 11, 8, 17, 10],
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          plugins: {
            legend: {
              display: false,
            },
          }
        },
      });
      
  </script>

  <script>

    


      var ctx = document.getElementById('donutChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ['Collaborators', 'Orchestrator', 'Supervisor', 'Advisor'],
          datasets: [{
            data: [10, 20, 15, 5], // Dummy dataset values
            backgroundColor: [
              'rgb(255, 99, 132, 0.2)',
              'rgb(54, 162, 235, 0.2)',
              'rgb(255, 206, 86, 0.2)',
              'rgb(75, 192, 192, 0.2)'
            ],
            borderColor: [
              'rgb(255, 99, 132, 1)',
              'rgb(54, 162, 235, 1)',
              'rgb(255, 206, 86, 1)',
              'rgb(75, 192, 192, 1)',
            ],
            borderWidth: 1,
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              display: false,
            },
            title: {
              display: true,
              text: 'Responses'
            }
          },
        }
      });

      
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script>
  // Wait for the DOM content to load
document.addEventListener("DOMContentLoaded", function() {
  // Get all the grid items
  var gridItems = document.querySelectorAll(".chart-wrapper");

  // Loop through each grid item
  gridItems.forEach(function(item) {
    // Create a timeline for the animation
    var tl = gsap.timeline({
      scrollTrigger: {
        trigger: item,
        start: "top 80%", // Adjust the scroll trigger start position as needed
        toggleActions: "play none none reverse"
      }
    });

    // Define the animation
    tl.fromTo(
      item,
      { opacity: 0, y: 20 },
      { opacity: 1, y: 0, duration: 0.6 }
    );

    // Add hover effect
    item.addEventListener("mouseenter", function() {
      gsap.to(item, { scale: 1.05, duration: 0.3 });
    });

    item.addEventListener("mouseleave", function() {
      gsap.to(item, { scale: 1, duration: 0.3 });
    });
  });
});
</script>



{% endblock scripts %}

    </body>
{% endblock content %}

