{% extends 'organization/base.html' %}
{% load bootstrap5 %}
{%load static%}
{% block page_title %}<title>Wheel dash</title>{% endblock page_title %}

{%block css_files%}
{% comment %} <link rel="stylesheet" href="{% static 'organization/keen-dashboards.css' %}" type="text/css" media="screen"> {% endcomment %}
<link rel="stylesheet" href="{% static 'organization/landing.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="{% static 'djf_surveys/te-starter/css/tw-elements.min.css' %}">
{% endblock %}


<style type = "text/css">
  .chart-wrapper {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 13px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
  }
  h1 {}
</style>



{% block content %}

<body>  
  <div class = 'page-grid'>
    <div>{% comment %} empty div for sidebar {% endcomment %}</div>
      <div class="grid grid-rows-3 grid-cols-6 gap-4">
        <div class='container row-span-3 col-span-3'>
          <div class =""><canvas class id="polar"/></div>
        </div>
          <div class='col-span-3'>
            <div class="grid grid-cols-3 gap-4 grid-flow-col auto-cols-max ">
              <div class='chart-wrapper container'>
            <div><canvas class="" id="donutChart"/></div>  
        </div>
          <div class='chart-wrapper container'>
            <div class =""><canvas class="" id="donut"/></div>
          </div>
            <div class='chart-wrapper container' style ="grid-auto-cols: 100px;">
              <h1>0:04:32</h1>
              Av. time min.
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>

      
  {% block scripts %}
  <script src="{% static 'djf_surveys/css/tailwindcss-3.3.1.js' %}"></script>
  <script src="{% static 'djf_surveys/css/tailwindcss-plugin-3.3.1.js' %}"></script>
  <script src="{% static 'djf_surveys/te-starter/js/tw-elements.umd.min.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    
  var ctx = document.getElementById('polar');
    var myChart = new Chart(ctx, {
    type: 'polarArea',
      data: {
      labels: ['Co-creating solutions', 'Establishing legitimacy', 'Brokering relations', 'Facilitating activities'],
      datasets: [
      {
        label: 'Network',
        data: [
          { id: 'COLL-OUTPUT', value: { number: 40, link: 'localhost:8000/surveys/dashboard/summary/survey/main/COLL-OUTPUT' } },
          { id: 'RES-MOBIL', value: { number: 40, link: 'localhost:8000/surveys/dashboard/summary/survey/main/RES-MOBIL' } },
          { id: 'NET-ACC', value: { number: 40, link: 'localhost:8000/surveys/dashboard/summary/survey/main/NET-ACC' } },
          { id: 'POS-REP', value: { number: 40, link: 'localhost:8000/surveys/dashboard/summary/survey/main/' } },
        ],
        
        parsing: {
          key: 'value.number'
        },

        backgroundColor: [
          'rgba(255, 99, 132, 0.9)', // Red
          'rgba(54, 162, 235, 0.9)',   // Blue
          'rgba(0, 128, 0, 0.9)', // Green
          'rgba(255, 255, 0)', // Green
        ],
        borderWidth: 1,
        borderColor: 'rgba(255, 99, 132, 0.9)', // Red,
      },
      {
        label: 'Organizational',
        data: [
          { id: 'ACS', value: { number: 80, link: 'localhost:8000/surveys/dashboard/summary/survey/main/ACS' } },
          { id: 'ORG-LEARN', value: { number: 80, link: 'localhost:8000/surveys/dashboard/summary/survey/main/ORG-LEARN' } },
          { id: 'BUILD-PART', value: { number: 80, link: 'localhost:8000/surveys/dashboard/summary/survey/main/BUILD-PART' } },
          { id: 'ACS', value: { number: 80, link: 'localhost:8000/surveys/dashboard/summary/survey/main/ACS' } },
        ],
        
        parsing: {
          key: 'value.number'
        },

        backgroundColor: [
          'rgba(255, 99, 132, 0.9)', // Red
          'rgba(54, 162, 235, 0.9)',   // Blue
          'rgba(0, 128, 0, 0.9)', // Green
          'rgba(255, 255, 0)', // Green
        ],
        borderWidth: 1,
        borderColor: 'rgba(255, 99, 132, 0.9)', // Red,
      },
      {
        label: 'Individual',
        data: [
          { id: 'COLL-OP', value: { number: 120, link: 'localhost:8000/surveys/dashboard/summary/survey/main/COLL-OP' } },
          { id: 'SHARE-LEARN', value: { number: 120, link: 'localhost:8000/surveys/dashboard/summary/survey/main/SHARE-LEARN' } },
          { id: 'FEI', value: { number: 120, link: 'localhost:8000/surveys/dashboard/summary/survey/main/FEI'} },
          { id: 'VISIB', value: { number: 120, link: 'localhost:8000/surveys/dashboard/summary/survey/main/VISIB'} },
          ],

          parsing: {
            key: 'value.number'
          },

          backgroundColor: [
          'rgba(255, 99, 132, 0.9)', // Red
          'rgba(54, 162, 235, 0.9)',   // Blue
          'rgba(0, 128, 0, 0.9)', // green
          'rgba(255, 255, 0)', // green
            
          ],
          borderWidth: 2,
          borderColor: 'rgba(255, 99, 132, 0.9)', // Red,
        },]},
        options: {
          scale: {
            display: false
        },
          responsive: true,
          scales: {
            r: {
              pointLabels: {
                display: false,
                centerPointLabels: true,
                arc: true,
                font: {
                  size: 24
                }
              }
            },
          },
           onClick: function(e, clickData) {
            console.log(clickData[0]);
            //window.open('http://localhost:8000/surveys/dashboard/summary/survey/main/')
          },
        plugins: {
          legend: {
            display: false,
          },
          labels: {
            render: 'label',
            arc: true,
            fontColor: '#000',
            position: 'inside',
          },
        }
      },
    });

  //  function chartOpen(click) {
     // const points = myChart.getElementsAtEventForMode(click, 'nearest', { intersect: true }, true);
     // console.log(points);
   // }
    
   // ctx.onclick = chartOpen;
         
    </script>

    <script>
 
      var ctx = document.getElementById('donut');
      var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
          labels: ['Time', 'Statisfaction', 'Projects', 'Surveys', 'Responses', 'Collaborators'],
          datasets: [{
            label: 'Blue',
            data: [11, 8.0, 17, 10, 23, 15],
            fill: true,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 0.2)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
          },{
            label: 'Red',
            data: [15, 6.0, 11, 8, 17, 10],
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            pointBackgroundColor: 'rgb(255, 99, 132)',
            pointBorderColor: '#fff',
            pointHoverBackgroundColor: '#fff',
            pointHoverBorderColor: 'rgb(255, 99, 132)'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
          plugins: {
            legend: {
              display: false,
            },
          }
        },
      });
      
  </script>

  <script>

    


      var ctx = document.getElementById('donutChart').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ['Collaborators', 'Orchestrator', 'Supervisor', 'Advisor'],
          datasets: [{
            data: [10, 20, 15, 5], // Dummy dataset values
            backgroundColor: [
              'rgb(255, 99, 132, 0.2)',
              'rgb(54, 162, 235, 0.2)',
              'rgb(255, 206, 86, 0.2)',
              'rgb(75, 192, 192, 0.2)'
            ],
            borderColor: [
              'rgb(255, 99, 132, 1)',
              'rgb(54, 162, 235, 1)',
              'rgb(255, 206, 86, 1)',
              'rgb(75, 192, 192, 1)',
            ],
            borderWidth: 1,
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              display: false,
            },
            title: {
              display: true,
              text: 'Responses'
            }
          },
        }
      });

      
  </script>



{% endblock scripts %}

    </body>
{% endblock content %}

