{% extends 'organization/base.html' %}
{% load bootstrap5 %}

{%load static%}

{% block page_title %}
<title>Profile page</title>
{% endblock page_title %}

{%block css_files%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'organization/profile.css' %}" type="text/css" media="screen">
{%endblock css_files%}

{% block content%}
<div class = 'page-grid'>
  <div>{% comment %} empty div for sidebar {% endcomment %}</div>
  <div class="grid grid-rows-3 grid-col-1 gap-2">
    <div class="md:container md:mx-auto">
              <form method="post">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="profile-img">
                            <img src="{{ user.avatar.url }}" alt="User avatar" />
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="profile-head">
                              <div class="name-field"><h5>{{ user.first_name }} {{ user.last_name }}</h5></div>
                                  <div class="role-field">{{ user.position }}</div>
                                      <p class="proile-rating"><div class="organization-title">{{org.title}}</div></p>
                              <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item">
                                      <a class="nav-link active" id="organization-tab" data-toggle="tab" href="#organization" role="tab" aria-controls="organization" aria-selected="true">Organization</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="network-tab" data-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="false">Network</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-2">
                          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="profile-work">
                              <p>WORK LINK</p>
                              <a href="">Website Link</a><br/>
                              <a href="">Bootsnipp Profile</a><br/>
                              <a href="">Bootply Profile</a>
                              <p><h5>About You</h5></p>
                              <h6>text about you a
                              awdadawdadwdadwdadwd
                              adwdadwwadawdadaawda
                              awdwawdawdawwadawad
                              </h6>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="tab-content organization-tab" id="myTabContent">
                              <div class="tab-pane fade show active" id="organization" role="tabpanel" aria-labelledby="organization-tab">
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>User Id</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>Kshiti123</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Name</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>Kshiti Ghelani</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Email</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>kshitighelani@gmail.com</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Phone</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>123 456 7890</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Profession</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>Web Developer and Designer</p>
                                              </div>
                                          </div>
                              </div>
                              <div class="tab-pane fade" id="network" role="tabpanel" aria-labelledby="network-tab">
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Experience</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>Expert</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Hourly Rate</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>10$/hr</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Total Projects</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>230</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>English Level</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>Expert</p>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-6">
                                                  <label>Availability</label>
                                              </div>
                                              <div class="col-md-6">
                                                  <p>6 months</p>
                                              </div>
                                          </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <label>Your Bio</label><br/>
                                          <p>Your detail description</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>           
          </div>
        </div>
      </div>


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="{% static 'djf_surveys/css/tailwindcss-3.3.1.js' %}"></script>
<script src="{% static 'djf_surveys/css/tailwindcss-plugin-3.3.1.js' %}"></script>
<script src="{% static 'djf_surveys/te-starter/js/tw-elements.umd.min.js' %}"></script>

<script>
  // Wait for the DOM content to load
  document.addEventListener("DOMContentLoaded", function() {
    // Get all the grid items
    var gridItems = document.querySelectorAll(".chart-wrapper");
  
    // Loop through each grid item
    gridItems.forEach(function(item) {
      // Create a timeline for the animation
      var tl = gsap.timeline({
        scrollTrigger: {
          trigger: item,
          start: "top 80%", // Adjust the scroll trigger start position as needed
          toggleActions: "play none none reverse"
        }
      });
  
      // Define the animation
      tl.fromTo(
        item,
        { opacity: 0, y: 20 },
        { opacity: 1, y: 0, duration: 0.6 }
      );
  
      // Add hover effect
      item.addEventListener("mouseenter", function() {
        gsap.to(item, { scale: 1.05, duration: 0.3 });
      });
  
      item.addEventListener("mouseleave", function() {
        gsap.to(item, { scale: 1, duration: 0.3 });
      });
    });
  });
</script>
{% endblock scripts %}

{% endblock content %}