{% extends 'organization/base.html' %}
{% load bootstrap5 %}

{%load static%}

{% block page_title %}
<title>Profile page</title>
{% endblock page_title %}

{%block css_files%}
<link rel="stylesheet" href="{% static 'organization/landing.css' %}" type="text/css" media="screen">
{% endblock %}

{% block content %}
<div class="person-profile">
  <div class="network-container">
    <div class="collaboration-fields">
      <div class="collaboration-name">Collaboration Network: {{ network.title }}</div>
      <div class="collaboration-fields2">
        Stage: {{ network.stage }}<br />
        Orchestrator: {{ network.orchestrator }}<br />
      </div>
    </div>
  </div>

 <!-- Goals = organization but changing it sucks-->
  <div class="goals">
    <div class="organization-name">Organization</div>
    <div class="list">
      <div class="list-of-fields-of-organization">
        <div class="org-fields">
          Type: {{ org.get_org_type_display }}<br />
          Vision: {{ org.vision }}<br />
          Number of Employees: {{ org.num_employees }}<br />
          Founded: {{ org.founded }}<br />
          Email: {{ org.email }}
        </div>
      </div>
    </div>
  </div>

  <div class="personal-information">
    <div class="personal-information-background"></div>
    

    <div class="organization-type">
      <div class="type">Type</div>
      <div class="organization-type2">
        {{ org.get_org_type_display }}
      </div>
    </div>

    <div class="organization">
      <div class="organization2">Organization</div>
      <div class="organization-title">{{org.title}}</div>
    </div>

    <div class="organization-role">
      <div class="role">Role</div>
      <div class="role-field">{{ user.position }}</div>
    </div>

    <div class="name">
      <div class="name2">Name</div>
      <div class="name-field">{{ user.first_name }} {{ user.last_name }}</div>
    </div>

    <div class="avatar4">
      <img class="avatar2" src="{{ user.avatar.url }}" alt="User avatar" />
    </div>
  </div>

  <div class="collaborator-container">
    {% for collaborator in collaborators %}
      <div class="avatar">
        <img class="avatar2" src="{{ collaborator.avatar.url }}" alt="Collaborator avatar" />
        <div class="other-collaborator-member">{{ collaborator.first_name }} {{ collaborator.last_name }}</div>
      </div>
    {% endfor %}
  </div>

  <div class="buttons">
    <a class="button-18 button-1" href='/surveys' role="button">Survey</a>
    <a class="button-18 button-2" href='/surveys' role="button">Works</a>
    <a class="button-18 button-3" href='/surveys' role="button">Knop4</a>
    <a class="button-18 button-4" href='/surveys' role="button">Snuif</a>
    <!-- Additional buttons as needed -->
  </div>
</div>

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script>
  // Wait for the DOM content to load
  document.addEventListener("DOMContentLoaded", function() {
    // Get all the grid items
    var gridItems = document.querySelectorAll(".chart-wrapper");
  
    // Loop through each grid item
    gridItems.forEach(function(item) {
      // Create a timeline for the animation
      var tl = gsap.timeline({
        scrollTrigger: {
          trigger: item,
          start: "top 80%", // Adjust the scroll trigger start position as needed
          toggleActions: "play none none reverse"
        }
      });
  
      // Define the animation
      tl.fromTo(
        item,
        { opacity: 0, y: 20 },
        { opacity: 1, y: 0, duration: 0.6 }
      );
  
      // Add hover effect
      item.addEventListener("mouseenter", function() {
        gsap.to(item, { scale: 1.05, duration: 0.3 });
      });
  
      item.addEventListener("mouseleave", function() {
        gsap.to(item, { scale: 1, duration: 0.3 });
      });
    });
  });
</script>
{% endblock scripts %}

{% endblock content %}
