{% extends 'organization/base.html' %}
{% load djf_survey_tags i18n %}
{% load django_browser_reload %}
{% load static %}


{%block css_files%}
<link rel="stylesheet" href="{% static 'organization/landing.css' %}" type="text/css" media="screen">
<link rel='stylesheet' href="{% static 'organization/style.css'%}">
<link rel="stylesheet" href="{% static 'djf_surveys/te-starter/css/tw-elements.min.css' %}">

{% endblock css_files%}

{% block page_title %}
  <title>Login</title>
{% endblock page_title %}

{% block header %}
{% endblock %}
{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="h-screen md:flex">
    <div
      class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 i justify-around items-center hidden">
      <div>
        <h1 class="text-white font-bold text-5xl font-sans">CONESU</h1>
        <p class="text-white mt-1">The most popular collaboration platform.</p>
        <button type="submit" class="block w-28 bg-white text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2">Read More</button>
      </div>
      
      {% comment %} <div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
      <div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
      <div class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
      <div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div> {% endcomment %}
    </div>
    <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
      <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto">
          <h1 class="text-center text-3xl">Welcome back! </h1>
            <div class="p-8 mt-6 mb-0 space-y-4 rounded-3xl shadow-md border border-gray-200 bg-white">
                <form method="post" id="LoginForm" class="w-80" >
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-5" id="section_field_{{ field.auto_id }}">
                            <label for="email" class="text-base font-medium">{{ field.label }}</label>
                            <div class="mt-1">
                            {{ field|addclass:'w-full p-4 pr-12 text-sm border-gray-500 rounded-lg shadow-sm' }}                          
                            </div>
                        </div>
                    {% endfor %}

                    <button type="submit" class="block w-full mt-5 px-5 py-3 text-sm font-medium text-white bg-blue-500 hover:bg-blue-700 rounded-lg ho">
                        {% trans "LOG IN" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
{% endblock content%}

